<IfModule mod_headers.c>
  Header always set X-Robots-Tag "noindex"
  Header always set X-XSS-Protection: "0"
  Header always set X-Content-Type-Options "nosniff"
  Header always set X-DNS-Prefetch-Control "off"

  Header always set Content-Security-Policy "sandbox allow-forms allow-popups; base-uri 'none'; default-src 'none'; frame-src 'self'; img-src data:; style-src 'unsafe-inline'; form-action 'self'; frame-ancestors *; navigate-to https://gitlab.com;"
  Header set Cache-Control "public, max-age=86400, stale-while-revalidate=31536000, s-maxage=86400"
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresDefault "access plus 1 week"
</IfModule>

AddType text/html .shtml
AddOutputFilter INCLUDES;DEFLATE .shtml
Options +IncludesNOEXEC -Indexes -ExecCGI
AddHandler server-parsed .shtml
XBitHack on
SSILegacyExprParser on
FileETag None

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /

  # hide private files
  RewriteCond %{REQUEST_URI} !^/css-pad/(index\.shtml)?$
  RewriteRule ^ - [L,F]

  RewriteCond %{QUERY_STRING} !^(t=[^&]*)?(&e=)?$
  RewriteRule ^ - [L,F]

  # append padding at end to work around decoding last character via SSI
  RewriteCond %{QUERY_STRING} ^(t=[^&]*)$
  RewriteRule ^(.*)$ $1?%1&e= [QSD]

  # form submission changes space to "+", change back a few to "%20"
  RewriteCond %{QUERY_STRING} ^([^+]*)[+]+([^+]*)[+]+([^+]*)[+]+([^+]*)[+]+([^+]*)[+]+([^+]*)[+]+([^+]*)[+]+([^+]*)[+]+(.*)$
  RewriteRule ^(.*)$ $1?%1\%20%2\%20%3\%20%4\%20%5\%20%6\%20%7\%20%8\%20%9 [N,QSD]
  RewriteCond %{QUERY_STRING} ^([^+]*)[+]+([^+]*)[+]+([^+]*)[+]+([^+]*)[+]+(.*)$
  RewriteRule ^(.*)$ $1?%1\%20%2\%20%3\%20%4\%20%5 [N,QSD]
  RewriteCond %{QUERY_STRING} ^([^+]*)[+]+([^+]*)[+]+(.*)$
  RewriteRule ^(.*)$ $1?%1\%20%2\%20%3 [N,QSD]
  RewriteCond %{QUERY_STRING} ^([^+]*)[+]+(.*)$
  RewriteRule ^(.*)$ $1?%1\%20%2 [N,QSD]
</IfModule>
